{% extends 'base.html' %}
{% load static %}

{% block script %}
{% endblock script %}

{% block content %}
<section class='wrapper'>
    <h1>Halo, apa kabar?</h1>
    <form id="status-form" method="post">
        {% csrf_token %}
        {{ status_form.text.errors }}
        {{ status_form.text }}
        <div>
            <button type="submit" id="status-submit">Post</button>
        </div>
    </form>
    {% if statuses %}
        <section class="status-wrapper">
            {% for status in statuses %}
                <div class="status">
                    {{status.text}}<br>
                    <span class="time">{{status.post_time}}</span>
                </div>
            {% endfor %}
        </section>
</section>
    {% endif %}
{% endblock content %}