{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'accordion/css/accordion.css' %}" rel='stylesheet' type='text/css'>
{% endblock style %}

{% block content %}
    <section class='wrapper'>
        <h1>Hello<span>| This is ME</span></h1>
    </section>
    <section class='acc-wrapper'>
        <div class='accordion'>
            <h2 class='acc-header'>Activity</h2>
            <div class='acc-content'>
                <p>I'm currently enrolled on cs bachelor program at Universitas Indonesia.</p>
            </div>
        </div>
        <div class='accordion'>
            <h2 class='acc-header'>Experience</h2>
            <div class='acc-content'>
                <p>Quite nothingness exactly</p>
            </div>
        </div>
        <div class='accordion'>
            <h2 class='acc-header'>Achievement</h2>
            <div class='acc-content'>
                <p>I could achive nothing in my life</p>
            </div>
        </div>
    </section>
{% endblock content %}