table {
    margin: 40px 0px;
    width: 100%;
}

table thead {
    background: var(--main-nav-color);
    color: var(--main-text-color);
}

table tbody {
    background: var(--secondary-bg-color);
    color: var(--secondary-text-color);
}
td, th {
    padding: 10px 40px;
}

#search-bar {
    margin: 20px 0px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 20px;
}

a, a:active, a:visited, a:hover, a:link {
    color: var(--secondary-text-color);
    text-decoration: none;
}