{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="{% static 'base.css' %}" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {% block style %}
        {% endblock style %}
        <script src="{% static 'accordion/js/color-theme.js' %}"></script>
        <script src="{% static 'accordion/js/accordion.js' %}"></script>
        {% block script %}
        {% endblock script %}
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'landing_page:index' %}">Home</a></li>
                <li><a href="{% url 'accordion:index' %}">Accordion</a></li>
                <li><a href="{% url 'booklist:index' %}">Books</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'login:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login:index' %}">Login</a></li>
                    <li><a href="{% url 'login:register' %}">Register</a></li>
                {% endif %}
            </ul>
            <div class="accordion">
                <h3 class="acc-header" id="theme_change">Color Theme</h3>
                <div class="acc-content">
                    <input class="color-change" color-value="default" id="default_theme_check" type="checkbox">
                    <input class="color-change" color-value="dark" id="dark_theme_check" type="checkbox">
                    <input class="color-change" color-value="light" id="light_theme_check" type="checkbox">
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock content %}
    </body>
</html>