{% extends 'base.html' %}
{% load static %}

{% block script %}
    <script src="{% static 'booklist/js/search-book.js' %}"></script>
{% endblock script %}

{% block style %}
    <link href="{% static 'booklist/css/index.css' %}" type="text/css" rel="stylesheet">
{% endblock style %}

{% block content %}
    <section class="wrapper">
        <div>
            <input id='search-bar' type="search" placeholder="search">
        </div>
        <div id="result-table">
            <table>
                <thead>
                    <tr>
                        <th>Judul</th>
                        <th>Penulis</th>
                        <th>Gambar</th>
                    </tr>
                </thead>
                <tbody id="search-result">
                </tbody>
            </table>
        </div>
    </section>
{% endblock content %}