{% extends 'login/base.html' %}

{% block content %}
<div class="wrapper">
        {% if user.is_authenticated %}
            <p>Hello, {{ user.get_full_name }}</p>
        {% else %}
            <p>Anda belum login</p>
            <p>Silahkan login</p>
        {% endif %}
    </div>
{% endblock content %}