{% extends 'login/base.html' %}

{% block content %}
    <section class="wrapper">
        <form method="post" action="{% url 'login:index' %}">
            {% csrf_token %}
            <table cellpadding="10">
                    {% if form.errors %}
                    <tr>
                        <td colspan="2">Your username and password didn't matched. Please try again.</td>
                    </tr>
                    {% endif %}
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            <input type="submit" value="login">
        </form>
    </section>
{% endblock content %}