{% extends 'login/base.html' %}

{% block content %}
    <div class="wrapper">
        <form method="post" action="{% url 'login:register' %}">
                {% csrf_token %}
                <table cellpadding="10">
                    {% for field in form %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <tr id="error"><td colspan="2">{{ error }}</td></tr>
                            {% endfor %}
                        {% endif %}
                        <tr>
                            <td>{{ field.label_tag }}</td>
                            <td>{{ field }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <input type="submit" value="register">
            </form>
    </div>
{% endblock content %}