@import url('https://fonts.googleapis.com/css?family=Work+Sans:100&display=swap');

h1 {
    margin: auto;
    text-align: center;
}

h1 span {
    font-weight: 100;
    font-family: 'work sans';
    color:var(--secondary-text-color);
}

.acc-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
}

.acc-wrapper .accordion {
    margin: 5px;
    padding: 10px 20px;
    width: 300px;
    background: var(--secondary-bg-color);
    color: var(--secondary-text-color);
}

.accordion {
    display: table;
}

.acc-header {
    text-align: center;
    margin: 0px;
}