form {
    background: var(--secondary-bg-color);
    border-radius: 20px;
    margin: auto;
    margin-top: 50px;
    padding: 15px 20px;
    width: 50%;
}

form table {
    width: 90%;
}

#error {
    color: red;
}

form input:not([type="submit"]) {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: white;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    /* border: 1px solid var(--main-bg-color); */
}

form input[type="submit"] {
    font-family: 'Open Sans', sans-serif;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 10px 0px;
}