@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700&display=swap');

html[data-theme='default'] {
    --main-bg-color: #00918e;
    --secondary-bg-color: #4dd599;
    --main-text-color: #ffdc34;
    --secondary-text-color: #eff;
    --main-nav-color: #110133;
}

html[data-theme='dark'] {
    --main-bg-color: #00454a;
    --secondary-bg-color: #3c6562;
    --main-text-color: #ed6363;
    --secondary-text-color: #eff;
    --main-nav-color: #003545;
}

html[data-theme='light'] {
    --border: 1px solid black;
}

* {
    border: var(--border);
}

html {
    width: 100vw;
    background-color: var(--main-bg-color);
    font-family: 'Open sans', sans-serif;
}

body {
    font-weight: 600px;
}

.wrapper {
    padding: 50px;
}

.flex-container {
    margin-top: 50px;
    width: 90%;
    display: flex;
    justify-content: center;
}

.blog-wrapper {
    width: 95%;
    padding: 20px;
    background-color: var(--secondary-bg-color);
    box-shadow: 0px 0px 5px grey;
}

.blog-wrapper h1 {
    text-align: center;
}

.blog-wrapper p {
    text-indent: 2em;
}

.blog-wrapper img {
    width: 100%;
}

.code-block {
    font-family: monospace;
    font-size: 24px;
    border-left: 5px solid black;
    padding-left: 20px;
    margin-left: 20px;
}

nav {
    margin: 0px;
    height: 50px;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background: var(--main-nav-color);
}

nav ul{
    padding-top: 20px;
    vertical-align: top;
    display: inline;
    list-style: none;
}

nav a {
    text-decoration-style: none;
    text-decoration: none;
}

nav li, nav a:active, nav a:visited {
    color: var(--main-text-color);
    display: inline-block;
    padding-top: 10px;
    width: 100px;
}

nav .acc-header {
    display: inline-block;
    margin: 6px;
}

nav .accordion {
    overflow: hidden;
    margin: 5px 20px 0px 0px;
    display: inline-block;
    position: absolute;
    border-radius: 20px;
    right: 0%;
    background: var(--main-text-color);
}

nav .acc-content {
    background: var(--main-text-color);
    padding: 10px 5px;
}

h1 {
    font-size: 50px;
    font-weight: 700px;
    color: var(--main-text-color);
}

h2 {
    font-size: 40px;
    font-weight: 700px;
}

p {
    font-size: 24px;
}

.status-wrapper {
    min-width: 200px;
    width: 50%;
}

.status {
    margin: 10px 0px;
    padding: 10px;
    border-radius: 10px;
    background: var(--main-text-color);
    word-wrap: break-word;
}

.time {
    font-size: 12px;
    color: #54f;
}

#status-form {
    font-family: 'Open sans';
    width: 50%;
}

#status-form div {
    width: 100%;
    text-align: right;
}

button {
    display: inline;
    padding: 10px 20px;
    font-family: inherit;
    background: var(--main-text-color);
    border: none;
    border-radius: 10px;
}

.acc-content {
    display: none;
}
