{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="wrapper flex-container">
    <div class="blog-wrapper">

      <h1>How to use load balancer using NGINX <br> (for Windows)</h1>
      <p>I will tell you how to configure your own nginx on
      be load balancer on your local server.</p>

      <h2>1. Installing NGINX</h2>
      <p>First download nginx from the official 
        <a target="_blank" href="https://nginx.org/en/download.html">webpage</a>.
        Then pick download link for windows. <em>(We recommend you to pick
          either mainline or stable version. Legacy is highly discouraged
          for its old support)</em>
      </p>
      <img src="{% static 'nginx/image/download.png' %}">
      <p>
      Extract the downloaded zip file on project folder <em>(you could extract it wherever you like)</em>
      and run nginx.exe.
      </p>
      <img src="{% static 'nginx/image/nginx-exe-a.png' %}">
      <p>Now run localhost, and your browser supposed to look like this</p>
      <img src="{% static 'nginx/image/nginx_first.png' %}">

      <h2>2. Configure nginx.conf</h>
      <p>
        To make nginx run accordingly, we should configure the nginx.conf. This will tell
        the nginx, how does it suppose to work. We will configure so it will use localhost port 8000
        and 9000 as host server.
      </p>
      <p>
      Copy this code onto your nginx.conf
      </p>
      <div class="code-block">
        <pre><code lang="conf">http {
  include    mime.types;
  index    index.html index.htm index.php;
  upstream localhost {
    server 127.0.0.1:8000;
    server 127.0.0.1:9000;
  }

  server { # simple load balancing
    listen          80;
    server_name     localhost;

    location / {
      proxy_pass      http://localhost;
    }
  }
}</code></pre>
      </div>
      <p>let's ignore the details. What the code basicly tells are "listen on domain localhost for request, then redirect
      it to localhost upstream." Then the code tells nginx to use port 8000 and 9000. Then let nginx do the magic and your web is ready to go.</p>

      <h2>3. Open your localhost</h2>
      <p>On your local cmd, let django to run server on port 8000 and 9000 by using: <code>python manage.py runserver 8000</code>
      and <code>python manage.py runserver 9000</code> on two different console.</p>
      <p>Open your localhost on browser, and watch both console to check as tis change from port 8000 and 9000.</p>
      <img src="{% static 'nginx/image/port_a.png' %}">

      <h2>4. Enjoy using nginx</h2>
      <p>Ah... yeah, now you could use nginx on localhost. <em>(don't ask me on how to set it up for deployment)</em></p>
    </div>
  </section>
{% endblock content %}
